		
		
		*::selection {
			background-color: transparent;
		}


      /* Main Setup */


      .clearfix:after, .window:after {
        visibility:hidden;
        display:block;
        content:"";
        clear:both;
        height: 0;
      }

      * {
        margin: 0;
        padding: 0;
        border: 0;
        -webkit-box-sizing: border-box; 
        box-sizing: border-box; 
        font-family: Exo, sans-serif;
      }

      body {
        background:url("../carbon.gif");
      }

      /* Window General */

      .window {
        width: 480px;
        min-height: 320px;
        min-width: 468px;
        position:absolute;
        border-radius: 5px;
        box-shadow: 0 0 20px rgba(0,0,0,0.5);
        background: #1d1d1d;
        overflow: hidden;
      }


        .handle {
          height: 20px;
          width: 100%;
          border-radius: 5px 5px 0 0;
          background: -webkit-gradient(linear, left top, left bottom, from(#535353), to(#454545));
          box-shadow: 0 1px 5px -3px rgba(0,0,0,0.3);
          z-index: 900000;
          position: relative;
        }

          .window:hover .handle {
            background: #5D5D5D;
          }

          .handle .title {
            display: block;
            width: 100%;
            text-align: center;
            color: white;
            font-size: 10px;
            letter-spacing: 3px;
            padding-top: 4px;
            text-transform: uppercase;
            text-shadow: 1px 1px 0 #000;
            opacity: 0.6;
            z-index: 1;
          }

      button.close, button.minimize {
        border-radius: 10px;
        height: 10px;
        width: 10px;
        position: absolute;
        top: 4px;
        box-shadow: inset 0 1px 0.5px #000, 0 1px 0 rgba(255,255,255,0.3);
        z-index: 500;
      }

      button.close { background: #ff7e00; right: 6px;}
      button.minimize { background: #ffc600; right: 20px; }

      button.close:hover { background: #fdb064; }
      button.minimize:hover { background: #fbde78; }

      .content {
        overflow: hidden;
      }

        .contentinner {
          padding: 5px;
        }

          .contentinner > div { /* Styling inner modules */
            background: #161616;
            border-radius: 5px;
          }


    /* Dock General Styling (or should I say disgusting hacking) */

      .dock {
        width: 300px;
        height : 100px;
        left: 50%;
        margin-left: -150px;
        bottom: 20px;
        position: fixed;
        background: url("../img/dock.png") repeat-x 0 60px;
      }

      .dock:before {
        width: 15px;
        height: 100px;
        background: url("../img/left.png") no-repeat 0 60px;
        margin-left: -15px;
        display: block;
        content: "";
      }

      .dock .closedock { /* Not working - someone find a way to fix this */
        width: 15px;
        height: 100px;
        background: url("../img/right.png") no-repeat 0 60px;
        margin-right: -15px;
        float:right;
        margin-top:-107px;
        content: "asd";
      }

      .dock ul { /* wrapper within wrappers, yo */
        margin: 0 auto;
        width: 700px;
        margin-top: -25px;
      }

      .dock ul li {
        margin-top:-70px;
        list-style: none;
        float:left;
        display: block;
        width: 70px;
      }

      .dock div.tooltip {
        position:relative;
        top: -8px;
        background: #615f5f;
        text-align:center;
        padding: 5px;
        border-radius: 5px;
        text-transform:uppercase;
        opacity: 0;
        width: 160%;
        font-size: 13px;
        font-weight: 600;
        color: #fff;
        letter-spacing: 1px;
        text-shadow: 0 1px 0 #000;
        left: -30%;
      }

      .dock div.tooltip:after {
        content:"\25B8";
        display:block;
        font-size:2em;
        height:0;
        color: #615f5f;
        text-shadow: none;
        bottom: -2px;
        left: 48px;
        line-height:0;
        position:absolute;
        -webkit-transform: rotate(90deg);
      }

      .dock li:hover div.tooltip {
        opacity: 0.5;
        -webkit-transition: all 0.6s linear;
      }


      .dock li img {
        -webkit-transform: scale(.8);
        -webkit-transition: scale 0.2s linear;
      }

      .dock li:hover img {
        -webkit-transform: scale(1);
      }
      .dock li:active img {
        -webkit-transform: scale(1);
        margin-top: 2px;

      }

      .dock li.main {
        margin-right: -5px;
        margin-left: 10px;
      }

      .dock li.j_opened:after {
        width: 36px;
        height: 36px;
        background: rgba(0,0,0,0.3);
        display: block;
        margin-top: -40px;
        margin-left: 17px;
        z-index: -1;
        content: ".";
        position: absolute;
        text-indent: -9999px;
        border-radius: 50px;
        box-shadow: 0 0 2px rgba(0,0,0,0.3);
      }


    /* First window */

      .connector {
        top:50px;
        left:50px;
        height: 130px;
      }
      
      .r_messages {
      	top: 120px;
      	left: 350px;
      	height: 130px;
      }

      /* Window Specific - Map */

      .contentinner .map {
        height: 150px;
       /* background: url("../img/mapbg.png") no-repeat top center, #161616;
        background-size: contain;*/
        width: 100%;
        margin-bottom: 5px;
      }

      #worldmap {
        margin: 0 auto;
        display: block;
      }

    /* Bounce Route */

    .route { height:34px;
      width: 385px;
      overflow: hidden; 
      font-size: 10px;
      font-family: Helvetica;
      float:left;
      margin-right: 5px;
    }
 

      .bounces { 
        width: 10000px; /* Arbitrarily long width for infinite bounces */
      } 

      div.arrow, div.server { float:left; }

      div.arrow { 
        color: #333333; 
        font-size: 30px;
        margin-top: -2px;
      }

      div.server { 
        padding: 5px;
        margin: 5px 5px 4px;
        height: 23px;
        border-radius: 5px;
        background: #7C7C7C;
      }

      div.server.you {
        background: white;
      }

      div.server.fav { background: #C49433; }

    /* Buttons */
    
   		/*general for all green buttons*/
    	
	    .r_action-button {
	    	border-radius: 5px;
	        padding: 5px;
	        margin-top: 1px;
	        width: 100px;
	        font-weight: 600;
	        font-size: 12px;
			background: #23BA43;
	        box-shadow: 0 5px 0 #1B9133, 0 7px 0 rgba(0,0,0,0.4);
	    }
	    
	    .r_action-button:active {
	      background: #2ce019;
          box-shadow: 0 1px 0 #399300, 0 2px 0 rgba(0,0,0,0.2);
          position:relative;
          top: 6px;
		}
		
		/*back to original stuff*/

      button.connect, button.disconnect {
        border-radius: 5px;
        float: left;
        padding: 5px;
        margin-top: 1px;
        width: 100px;
        font-weight: 600;
        font-size: 12px;
      }

      button.connect {
        background: #23BA43;
        box-shadow: 0 5px 0 #1B9133, 0 10px 0 rgba(0,0,0,0.2);
        /* -webkit-transition: all 0.3s linear; */
      }

        button.connect:hover {
         /* -webkit-transition: all 0.3s linear; */
          background: #2ce019;
          box-shadow: 0 5px 0 #1eae0e, 0 10px 0 rgba(0,0,0,0.2);
        }

        button.connect:active {
          background: #2ce019;
          box-shadow: 0 1px 0 #399300, 0 2px 0 rgba(0,0,0,0.2);
          margin-top: 6px;
        }

      button.disconnect {
        background: #BF0011;
        box-shadow: 0 5px 0 #95000A, 0 10px 0 rgba(0,0,0,0.2);
        color: #fff;
        text-shadow: 0 0 5px #000;
        /* -webkit-transition: all 0.3s linear; */
      }

        button.disconnect:hover {
         /* -webkit-transition: all 0.3s linear; */
          background: #fe0000;
          box-shadow: 0 5px 0 #cc0000, 0 10px 0 rgba(0,0,0,0.2);
        }


        button.disconnect:active {
          box-shadow: 0 1px 0 #95000A, 0 2px 0 rgba(0,0,0,0.2);
          margin-top: 6px;
        }

      /* Browser */

      div.browser { 
        height: 150px;
        width: 230%; 
        float: left;
        margin-top: 5px;
        background: #1C1C1C;
      }

      .browser > div {
        background: #161616;
        border-radius: 5px;
      }

      .screen {
        width: 320px;
        height: 100%;
        float: left;
        margin-right: 5px;
      }


      .screen div.login {
        text-align: center;
        margin-top: 60px;
      }
      
      .screen h3.servertitle {
        color: #fff;
        font-weight: 500;
        margin-bottom: 25px;
      }

      .screen input {
        border-radius: 5px;
        width: 180px;
        height: 30px;
        margin-bottom: 10px;
        box-shadow: inset 0 2px 0 -1px rgba(0,0,0,0.3);
        font-size: 15px
      }

      .screen input.password {
        background: #c7f3f5;
      }

      .screen button.login {
        font-weight: 400;
        font-size: 15px;
        border-radius: 5px;
        text-indent: 5px;
        width: 180px;
        height: 30px;
        background: #DEDBDB;
        text-transform: uppercase;
        box-shadow: 0 5px 0 #ADABAB, 0 10px 0 rgba(0,0,0,0.2);
      }

        .screen button.login:active {
          box-shadow: 0 1px 0 #ADABAB, 0 2px 0 rgba(0,0,0,0.2);
          margin-top: 6px;
        }
        
     /* Messages -Robert */
     
     .r_messages {
     	color:white;
     }
     
	     .r_messages .r_tabs {
	     	width: 100%;
	     	text-decoration: none;	
	     	list-style: none;
	     }
     
		     .r_tabs li {
		     	width: 155px;
		     	float:left;
		     	text-align:center;
		     	padding: 5px 0px;
		     	background: #888;
		     }
		     
		     .r_tabs li:hover {
		     	cursor: pointer;
		     }
		     
		     .r_tabs li:last-child {
		     	float:right;
		     }
		     
		     .r_tabs li.r_inactive {
		     	background: #555;
		     	color: #888;
		     }
		     
	.r_messages h1 {
		font-size: 0.9em;
		font-weight: normal;
		color: black;
		display:inline;
		background-color: transparent;
	}
	
	.r_messages .r_inactive-window {
		display:none;
	}
	
		/* freelance tab */
	
		.r_messages .r_freelance-tab {
			background-color: #888;
		}
	
		.r_messages ul {
			list-style: none;
		}
		
			.r_freelance-mission-item {
				background: #888;
				padding: 10px;
				width: 100%;
				border-bottom: 1px solid #666;
			}
			
			.r_freelance-mission-item:hover {
				background-color: #999;
			}
						
			.r_freelance-mission-item .r_action-button {
				padding: 3px inherit;				
				visibility: hidden;
				float:right;
				margin-top: -2px;
				margin-bottom: 4px;
			}
			
				.r_freelance-mission-item.r_level-too-high h1{
					color:#555;
				}
				
				.r_freelance-mission-item.r_level-too-high:hover {
					background-color: #888;
				}
				
				.r_freelance-mission-item.r_level-too-high span {
					font-weight: normal;
					color:#555;
				}
				
				.r_freelance-mission-item.r_level-too-high .r_action-button {
					display:none;
				}
			
			.r_freelance-mission-item:hover .r_action-button {
				visibility:visible;
			}
			
			.r_freelance-mission-item .r_mission-level {
				color: #ccc;
				font-weight: bold;
			}
			
			
		/* Ongoing Tab */
		
		.r_ongoing-tab {
			font-size: 0.8em;
			position:relative;
		}
		
		.r_ongoing-sidebar {
			float: left;
			width: 120px;
			padding: 2px 0px;
		}
			.r_ongoing-sidebar ul {
				background-color: #666;
			}
		
		.r_ongoing-main {
			width: 100%;
			height: 100%;
		}
		
		.r_inactive-message {
			display:none;
		}
		
		.r_ongoing-main-inside {
			margin-left: 125px;
			padding: 10px;
			height: 100%;
			position:relative;
		}
		
			.r_ongoing-main-inside span {
				display:block;
				margin: 10px 0px;
			}
			
			.r_ongoing-main-inside .r_subject {
				margin-bottom: 10px;
			}
			
			.r_ongoing-main-inside .r_action-button {
				margin-top: 10px;
			}
			
		.r_mission-message {
			padding: 10px;
			white-space: nowrap;
			text-overflow: ellipsis; /* buggy in Chrome apparently. =( */
			overflow:hidden;
			background-color: #668;
		}
		
		.r_mission-message:hover {
			cursor: pointer;
		}
		
		.r_mission-message.r_inactive {
			background-color: #556;
		}
		
		.r_mission-message.r_unread {
			background-color: white;
			color: #334;
		}
		
	.r_file-drop-area {
		background: #444;
		padding: 10px;
		text-align: center;
		border-radius: 5px;
		border: 1px dashed #666;
		margin: 10px 0px;
	}
	
	/*  Logs! */
	
	
	#logs {
		color:white;
		font-size: 0.8em;
	}
	
	#logs table {
		width: 100%;
		text-align: center;
		border-spacing: 0;
	}
	
	#logs tbody tr {
		background-color: #999;
	}
	
		#logs tbody tr:nth-child(1) {
			background-color: #c8897e;
		}
		#logs tbody tr:nth-child(2) {
			background-color: #bf9088;
		}
		#logs tbody tr:nth-child(3) {
			background-color: #b69691;
		}	
		#logs tbody tr:nth-child(4) {
			background-color: #a99;
		}

	#logs td {
		padding: 5px;
	}
	
	
	#logs tbody tr:hover {
		color:black;
	}
	
	#logs th {
		font-weight: bold;
		font-size: 1em;
		color: #aaa;
		padding: 10px 5px;
	}
			

